body.community,
body.all {
  background-color: #00e0cb;
}
body.community a,
body.all a {
  color: #00e0cb;
}
body.community .navbar.navbar-fixed-top.navbar-default,
body.all .navbar.navbar-fixed-top.navbar-default {
  background-color: #ecf0f1;
  color: #00e0cb;
}
body.community .navbar-default,
body.all .navbar-default {
  border-color: #04d1bc;
}
body.community .navbar-default.navbar-fixed-bottom,
body.all .navbar-default.navbar-fixed-bottom {
  border-color: #cfd9db;
}
body.community .btn-primary,
body.all .btn-primary,
body.community .btn-primary:active,
body.all .btn-primary:active,
body.community .btn-primary.active,
body.all .btn-primary.active,
body.community .btn-primary.disabled,
body.all .btn-primary.disabled,
body.community .btn-primary[disabled],
body.all .btn-primary[disabled] {
  background-color: #ec4863;
  border-color: #e3455f;
}
body.community .navbar-default,
body.all .navbar-default {
  background-color: #ecf0f1;
}
body.community .navbar-default .navbar-nav > .active > a,
body.all .navbar-default .navbar-nav > .active > a,
body.community .navbar-default .navbar-nav > .active > a:hover,
body.all .navbar-default .navbar-nav > .active > a:hover,
body.community .navbar-default .navbar-nav > .active > a:focus,
body.all .navbar-default .navbar-nav > .active > a:focus {
  color: #00e0cb;
  background-color: #ecf0f1;
}
body.community .navbar-default .navbar-nav > li > a:hover,
body.all .navbar-default .navbar-nav > li > a:hover,
body.community .navbar-default .navbar-nav > li > a:focus,
body.all .navbar-default .navbar-nav > li > a:focus {
  color: #00e0cb;
}
@media (max-width: 767px) {
  body.community .navbar-default .navbar-nav > li > a:hover,
  body.all .navbar-default .navbar-nav > li > a:hover,
  body.community .navbar-default .navbar-nav > li > a:focus,
  body.all .navbar-default .navbar-nav > li > a:focus {
    color: #00e0cb;
    background-color: #ecf0f1;
  }
  body.community .vrap-footer,
  body.all .vrap-footer {
    bottom: 57px;
  }
}
body.community .alert-info .container-connection-embended,
body.all .alert-info .container-connection-embended {
  background-color: #04d1bc;
  border: #04d1bc;
  color: #fff;
}
body.community .alert-success,
body.all .alert-success {
  background-color: #04d1bc;
  color: #72fcee;
}
body.community .alert-success h3,
body.all .alert-success h3 {
  margin-top: 0px;
}
body.community .vrap-footer,
body.all .vrap-footer {
  border-top: 1px solid #04d1bc;
}
body.master {
  background-color: #ec4863;
}
body.master a {
  color: #ec4863;
}
body.master .navbar.navbar-fixed-top.navbar-default {
  background-color: #ecf0f1;
  color: #ec4863;
}
body.master .navbar-default {
  border-color: #eb99a6;
}
body.master .navbar-default.navbar-fixed-bottom {
  border-color: #cfd9db;
}
body.master .btn-primary,
body.master .btn-primary:active,
body.master .btn-primary.active,
body.master .btn-primary.disabled,
body.master .btn-primary[disabled] {
  background-color: #1fcecb;
  border-color: #1dc2bf;
}
body.master .navbar-default {
  background-color: #ecf0f1;
}
body.master .navbar-default .navbar-nav > .active > a,
body.master .navbar-default .navbar-nav > .active > a:hover,
body.master .navbar-default .navbar-nav > .active > a:focus {
  color: #ec4863;
  background-color: #ecf0f1;
}
body.master .navbar-default .navbar-nav > li > a:hover,
body.master .navbar-default .navbar-nav > li > a:focus {
  color: #ec4863;
}
@media (max-width: 767px) {
  body.master .navbar-default .navbar-nav > li > a:hover,
  body.master .navbar-default .navbar-nav > li > a:focus {
    color: #ec4863;
    background-color: #ecf0f1;
  }
  body.master .vrap-footer {
    bottom: 57px;
  }
}
body.master .alert-success {
  background-color: #db435c;
  color: #f4c3cb;
}
body.master .alert-success h3 {
  margin-top: 0px;
}
body.master .alert-info,
body.master .container-connection-embended {
  background-color: #db435c;
  border: #db435c;
  color: #fff;
}
body.master .vrap-footer {
  border-top: 1px solid #db435c;
}
.navbar-fixed-bottom {
  z-index: 1;
}
.vrap-footer {
  color: #94aab0;
  background-color: #ecf0f1;
  position: fixed;
  height: 20px;
  line-height: 20px;
  text-align: center;
  bottom: 67px;
  right: 0;
  left: 0;
}
.panel-primary > .panel-heading {
  background-color: #ecf0f1;
  border-color: #cfd9db;
  color: #34495e;
}
/*
* Helper
*/
.vrap-margin-right {
  margin-right: 10px;
}
.vrap-margin-right-sm {
  margin-right: 5px;
}
/*
* Reset
*/
body {
  padding-top: 0;
  padding-bottom: 70px;
  padding-top: 80px;
}
.container {
  padding: 0 30px 30px;
}
/*
* General
*/
.panel-clickable:hover {
  cursor: pointer;
  border-color: #4FC1E9;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.panel-heading h3 {
  margin: 0;
}
.vrap-manage-blender h3,
.vrap-manage-blender h5 {
  margin: 0;
}
.vrap-btn-return {
  font-size: 1.8em;
}
.vrap-big-tints {
  font-size: 1.8em;
  line-height: 0.3em;
}
.vrap-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar.navbar-fixed-top {
  text-align: center;
}
.navbar.navbar-fixed-top h1 {
  font-family: 'Pacifico';
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  line-height: 47px;
}
.navbar.navbar-fixed-top.navbar-default {
  background-color: #4FC1E9;
}
.navbar-nav {
  float: none;
  width: 270px;
  margin: 0 auto;
}
.navbar-nav li {
  text-align: center;
  font-size: 0.9em;
  line-height: 12px;
  float: left;
}
.navbar-nav li .vrap-nav-icon {
  font-size: 1.4em;
}
.navbar-nav li a {
  line-height: 15px;
}
.navbar-nav li a.vrap-item-server {
  line-height: 9px;
}
.vrap-navbar {
  width: 100%;
  text-align: center;
}
.vrap-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vrap-navbar ul li {
  display: inline-block;
  width: 50%;
}
.vrap-nav {
  margin-bottom: 25px;
}
.vrap-nav .vrap-nav-title {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
}
.vrap-nav .btn-group {
  display: inline-block;
  vertical-align: middle;
}
/*
* Connection
*/
.heading {
  font-size: 1.5em;
  margin-top: 15px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"].group {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container-connection-embended {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 100;
  position: fixed;
  bottom: -300px;
  right: 0;
  left: 0;
  padding-top: 20px;
}
.container-connection-embended.active {
  bottom: 0px;
}
.container-connection-embended h2 {
  margin: 0;
  color: #fff;
}
.container-connection-embended .form-signin {
  max-width: 600px;
}
.container-connection-embended .btn {
  display: inline-block;
}
.container-connection-embended input[type="text"].group.middle {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
