<div class="form-signin">
<form role="form">
  <h2 class="heading text-center">Blend with account</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Comunity">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email address">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <!-- <label class="checkbox">
  <input type="checkbox" value="remember-me"> Remember me
  </label> -->
  <div class="form-group">
    <button class="btn btn-lg btn-info btn-block" type="submit">Enter</button>
  </div>
</form>
  <div class="heading text-center">Or</div>
  <h2 class="heading text-center">Blend without account</h2>
  <button class="btn btn-lg btn-default btn-block" ng-click="LoginWithOutAccount()">Enter</button>
</div>


