<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<form>
					<input 
						type="text" 
						class="form-control input-lg" 
						placeholder="Cocktail name" 
						ng-model="cocktail.name"
						required
					>
				</form>
			</div>
		</div>
		<div class="list-group" ng-hide="created">
			<a class="list-group-item vrap-padding" ng-click="chooseIngredient(ingredient)" ng-repeat="ingredient in ingredients">
				{{ingredient.name}}					
				<span class="pull-right vrap-big-tints" vrap-score score="ingredient.parameters" ng-click="removeIngredient(ingredient, $index)"></span>
			</a>
		</div>
		<div ng-show="loadCocktail">
			Send to the machine...
		</div>
		<div class="form-group" ng-show="created">
			<div class="alert alert-success">
				<button class="btn btn-default" ng-click="moreCocktail(ingredients)">One more</button>
				<button class="btn btn-primary" ng-click="blendIt(ingredients)">Blend it !</button>
			</div>
		</div>
		<div class="form-group" ng-hide="created">
			<button class="btn btn-default" ng-click="saveCocktail(ingredients)">Save</button>
			<button class="btn btn-primary" ng-click="blendIt(ingredients)">Blend it !</button>
		</div>
	</div>
</div>