<h1>Drink</h1>

<div class="vrap-nav">
	<div class="vrap-nav-title">
	Recipes From :
	</div>
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-default" ng-class="{active: recipeBlenderMaster}">Community</button>
		<button type="button" class="btn btn-default" ng-class="{active: !recipeBlenderMaster}">Master</button>
	</div>
</div>

<div ng-controller="recipeController">

	<div class="row" ng-hide="recipeList">
		
		<div class="col-xs-12">
			
			<a ng-click="BackListRecipe()"><i class="glyphicon glyphicon-chevron-left"></i></a>

			<div class="panel panel-primary">
				<div class="panel-heading"><h3>{{cocktailRecipe.name}}</h3></div>
				<div class="panel-body">
					<i class="glyphicon glyphicon-flash vrap-margin-right-sm"></i>Guy
				</div>
				<ul class="list-group">
					<li class="list-group-item clearfix" ng-repeat="step in cocktailRecipe.steps">
						{{step.parameters[0].name}}
						<span class="pull-right">
							<i class="glyphicon glyphicon-tint margin-right"></i>
							<i class="glyphicon glyphicon-tint margin-right"></i>
							<i class="glyphicon glyphicon-tint margin-right"></i>
						</span>
					</li>
				</ul>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<button class="btn btn-primary">Blend it !</button>
						<button class="btn btn-default">Modify</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="recipeList">
	
		<div class="col-xs-12" ng-repeat="recipe in recipes">
			<div class="panel panel-primary panel-clickable" ng-click="openRecipe(recipe)">
			  <div class="panel-heading">{{recipe.name}}</div>
			  <div class="panel-body">
			  	<!-- <i class="glyphicon glyphicon-heart vrap-margin-right-sm"></i>
			  	<span class="vrap-margin-right">
			  		20
			  	</span> -->
			  	<i class="glyphicon glyphicon glyphicon-tint vrap-margin-right-sm"></i>{{recipe.steps.length}}
			  	<span class="pull-right"><i class="glyphicon glyphicon-flash vrap-margin-right-sm"></i>
			  		
					<span ng-if="recipe.author == '' ">
					    The Blender
					</span>
					<span ng-if="recipe.author != '' ">
					    {{recipe.author}}
					</span>

			  		
			  	</span>
			  </div>
			</div>
		</div>

		<!-- <div class="col-xs-12">
			<div class="panel panel-primary panel-clickable" ng-click="openRecipe()">
			  <div class="panel-heading">Cocktail Navsfvefvefvme</div>
			  <div class="panel-body">
			  	<i class="glyphicon glyphicon-heart vrap-margin-right-sm"></i><span class="vrap-margin-right">20</span>
			  	<i class="glyphicon glyphicon glyphicon-tint vrap-margin-right-sm"></i>3
			  	<span class="pull-right"><i class="glyphicon glyphicon-flash vrap-margin-right-sm"></i>Uvaat</span>
			  </div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-primary panel-clickable" ng-click="openRecipe()">
			  <div class="panel-heading">Cocktail Name</div>
			  <div class="panel-body">
			  	<i class="glyphicon glyphicon-heart vrap-margin-right-sm"></i><span class="vrap-margin-right">8</span>
			  	<i class="glyphicon glyphicon glyphicon-tint vrap-margin-right-sm"></i>4
			  	<span class="pull-right"><i class="glyphicon glyphicon-flash vrap-margin-right-sm"></i>Vrap Theam</span>
			  </div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-primary panel-clickable" ng-click="openRecipe()">
			  <div class="panel-heading">Cocktail Name</div>
			  <div class="panel-body">
			  	<i class="glyphicon glyphicon-heart vrap-margin-right-sm"></i><span class="vrap-margin-right">7</span>
			  	<i class="glyphicon glyphicon glyphicon-tint vrap-margin-right-sm"></i>4
			  	<span class="pull-right"><i class="glyphicon glyphicon-flash vrap-margin-right-sm"></i>Guy</span>
			  </div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-primary panel-clickable" ng-click="openRecipe()">
			  <div class="panel-heading">Cocktail Name</div>
			  <div class="panel-body">
			  	<i class="glyphicon glyphicon-heart vrap-margin-right-sm"></i><span class="vrap-margin-right">19</span>
			  	<i class="glyphicon glyphicon glyphicon-tint vrap-margin-right-sm"></i>2
			  	<span class="pull-right"><i class="glyphicon glyphicon-flash vrap-margin-right-sm"></i>Author</span>
			  </div>
			</div>
		</div> -->
	</div>
</div>